<!-- Harry Potter and Fantastic Beasts Publishing and Stage Theatrical rights © J.K. Rowling
Harry Potter and Fantastic Beasts characters, names and related indicia and trademarks of and © Warner Bros. Entertainment Inc. All Rights Reserved.
Harry Potter motion picture images © and TM Warner Bros. Entertainment Inc
J.K. ROWLING’S WIZARDING WORLD is a trademark of J.K. Rowling and Warner Bros. Entertainment Inc.
Materials from the Harry Potter series of films and from the film Fantastic Beasts And Where To Find Them are courtesy of Warner Bros. Entertainment.
!!This page is intended for personal use only!! Please email shawn.harris3510@yahoo.com if any images or trademarks not properly sited.-->

<body class="entertainmentBody">

    <h1>Shops</h1>
    <div class="tabsContainer">
        <button class="ridesTab" onclick="openRidesThemePark(event, 'diagonAlley')" id="defaultOpen">Diagon
            Alley™</button>
        <button class="ridesTab" onclick="openRidesThemePark(event, 'hogsmeade')">Hogsmeade™</button>
    </div>

    <div id="hogsmeade" class="tabContent shopsHContainer">
        <div class="dervishBangesContainer">
            <!-- image sourced from https://www.universalorlando.com/web/en/us/things-to-do/shopping/dervish-and-banges -->
            <a href="https://www.universalorlando.com/web/en/us/things-to-do/shopping/dervish-and-banges"
                target="_blank">
                <img class="dervishBangesImage" src="../../assets/images/entertainmentImages/shopsImages/dervishBanges.jpg"
                    alt="Dervish and Banges™">
                <h4>Click Image for More Info</h4>
            </a>
            <div class="dervishBangesInfo">
                <div class="name dervishBanges">
                    <h2>Dervish and Banges™</h2>
                </div>
                <div class="detail dervishBangesDetail">
                    <h3>Stop in this shop for an array of magical items such as Sneakoscopes, Spectrespecs, and
                        Omnioculars. Find all your Quidditch™ needs like t-shirts, Quaffles, Golden Snitches, and brooms
                        including the Nimbus Two Thousand and One and the Firebolt. Also find Hogwarts™ uniforms,
                        clothing, and more.</h3>
                </div>
            </div>
        </div>
        <div class="filchContainer">
            <!-- image sourced from https://www.universalorlando.com/web/en/us/things-to-do/shopping/filchs-emporium-of-confiscated-goods -->
            <a href="https://www.universalorlando.com/web/en/us/things-to-do/shopping/filchs-emporium-of-confiscated-goods"
                target="_blank">
                <img class="filchImage" src="../../assets/images/entertainmentImages/shopsImages/filchsGoods.jpg"
                    alt="Filch’s Emporium™ of Confiscated Goods">
                <h4>Click Image for More Info</h4>
            </a>
            <div class="filchInfo">
                <div class="name filch">
                    <h2>Filch’s Emporium™ of Confiscated Goods</h2>
                </div>
                <div class="detail filchDetail">
                    <h3>Peruse treasures seized by the school’s resident caretaker, Argus Filch. You’ll find Hogwarts™
                        apparel, house crest banners, stationery, toys, and more.</h3>
                </div>
            </div>
        </div>
        <div class="honeydukesContainer">
            <!-- image sourced from https://www.universalorlando.com/web/en/us/things-to-do/shopping/honeydukes-->
            <a href="https://www.universalorlando.com/web/en/us/things-to-do/shopping/honeydukes" target="_blank">
                <img class="honeydukesImage" src="../../assets/images/entertainmentImages/shopsImages/honeydukes.jpg"
                    alt="Honeydukes™">
                <h4>Click Image for More Info</h4>
            </a>
            <div class="honeydukesInfo">
                <div class="name honeydukes">
                    <h2>Honeydukes™</h2>
                </div>
                <div class="detail honeydukesDetail">
                    <h3>This legendary sweet shop is filled with colourful treats including Acid Pops, Exploding
                        Bonbons, Cauldron Cakes, Fizzing Whizzbees, and Chocolate Frogs™ complete with wizard trading
                        cards. While you're here, fill up a bag of Bertie Bott's Every Flavour Beans™.</h3>
                </div>
            </div>
        </div>
        <div class="ollivandersContainer">
            <!-- image sourced from https://www.universalorlando.com/web/en/us/things-to-do/shopping/ollivanders-hogsmeade -->
            <a href="https://www.universalorlando.com/web/en/us/things-to-do/shopping/ollivanders-hogsmeade"
                target="_blank">
                <img class="ollivandersImage" src="../../assets/images/entertainmentImages/shopsImages/ollivanders.jpg"
                    alt="Ollivanders™">
                <h4>Click Image for More Info</h4>
            </a>
            <div class="ollivandersInfo">
                <div class="name ollivanders">
                    <h2>Ollivanders™</h2>
                </div>
                <div class="detail ollivandersDetail">
                    <h3>Inside, towering walls reveal thousands of boxes stacked to the ceiling. And within each box, a
                        wand is waiting to choose its wizard. Here you can purchase your own unique Ollivanders™ wand,
                        or select one of many Harry Potter™ character wand replicas, sets, and Interactive Wands.</h3>
                </div>
            </div>
        </div>
        <div class="owlPostContainer">
            <!-- image sourced from https://www.universalorlando.com/web/en/us/things-to-do/shopping/owl-post -->
            <a href="https://www.universalorlando.com/web/en/us/things-to-do/shopping/owl-post" target="_blank">
                <img class="owlPostImage" src="../../assets/images/entertainmentImages/shopsImages/owlPost.jpg" alt="Owl Post™">
                <h4>Click Image for More Info</h4>
            </a>
            <div class="owlPostInfo">
                <div class="name owlPost">
                    <h2>Owl Post™</h2>
                </div>
                <div class="detail owlPostDetail">
                    <h3>Here you can buy stationery, quills, seals, ink, The Wizarding World of Harry Potter™ stamps,
                        and an array of owl-related toys and gifts. You can also mail letters complete with a special
                        Hogsmeade™ postmark.</h3>
                </div>
            </div>
        </div>
    </div>
    <div id="diagonAlley" class="tabContent shopsDAContainer">
        <div class="borginBurkesContainer">
            <!-- image sourced from https://www.universalorlando.com/web/en/us/things-to-do/shopping/borgin-and-burkes -->
            <a href="https://www.universalorlando.com/web/en/us/things-to-do/shopping/borgin-and-burkes"
                target="_blank">
                <img class="borginBurkesImage" src="../../assets/images/entertainmentImages/shopsImages/borginBurkes.jpg"
                    alt="Borgin and Burkes™">
                <h4>Click Image for More Info</h4>
            </a>
            <div class="borginBurkesInfo">
                <div class="name borginBurkes">
                    <h2>Borgin and Burkes™</h2>
                </div>
                <div class="detail borginBurkesDetail">
                    <h3>This dark and dusty Knockturn Alley shop is infamous for its shady patrons, and objects with
                        unusual and powerful properties. As you walk among the dimly lit shelves, you'll find Death
                        Eater™ masks, skulls, Harry Potter™ film costume rep</h3>
                </div>
            </div>
        </div>
        <div class="gringottsMoneyContainer">
            <!-- image sourced from https://www.universalorlando.com/web/en/us/things-to-do/shopping/gringotts-money-exchange -->
            <a href="https://www.universalorlando.com/web/en/us/things-to-do/shopping/gringotts-money-exchange"
                target="_blank">
                <img class="gringottsMoneyImage" src="../../assets/images/entertainmentImages/shopsImages/gringottsMoney.jpg"
                    alt="Gringotts™ Money Exchange">
                <h4>Click Image for More Info</h4>
            </a>
            <div class="gringottsMoneyInfo">
                <div class="name gringottsMoney">
                    <h2>Gringotts™ Money Exchange</h2>
                </div>
                <div class="detail gringottsMoneyDetail">
                    <h3>Ask a Gringotts™ goblin any questions you have, and trade your U.S. currency for Gringotts™ bank
                        notes in $10 or $20 denominations. The bank notes can be used for purchases within Diagon Alley™
                        and Hogsmeade™, and at select locations throughout Universal Orlando Resort™.</h3>
                </div>
            </div>
        </div>
        <div class="madamMalkinsContainer">
            <!-- image sourced from https://www.universalorlando.com/web/en/us/things-to-do/shopping/madam-malkins-robes-for-all-occasions-->
            <a href="https://www.universalorlando.com/web/en/us/things-to-do/shopping/madam-malkins-robes-for-all-occasions"
                target="_blank">
                <img class="madamMalkinsImage" src="../../assets/images/entertainmentImages/shopsImages/madamMalkin.jpg"
                    alt="Madam Malkin's Robes for All Occasions">
                <h4>Click Image for More Info</h4>
            </a>
            <div class="madamMalkinsInfo">
                <div class="name madamMalkins">
                    <h2>Madam Malkin's Robes for All Occasions</h2>
                </div>
                <div class="detail madamMalkinsDetail">
                    <h3>Build your wizarding wardrobe at this cheerfully appointed shop. Here you'll find hats,
                        authentic Hogwarts™ uniforms, ties, scarves, sweaters, as well as jewellry.</h3>
                </div>
            </div>
        </div>
        <div class="magicalMenagerieContainer">
            <!-- image sourced from https://www.universalorlando.com/web/en/us/things-to-do/shopping/magical-menagerie -->
            <a href="https://www.universalorlando.com/web/en/us/things-to-do/shopping/magical-menagerie"
                target="_blank">
                <img class="magicalMenagerieImage" src="../../assets/images/entertainmentImages/shopsImages/magicalMenagerie.jpg"
                    alt="Magical Menagerie">
                <h4>Click Image for More Info</h4>
            </a>
            <div class="magicalMenagerieInfo">
                <div class="name magicalMenagerie">
                    <h2>Magical Menagerie</h2>
                </div>
                <div class="detail magicalMenagerieDetail">
                    <h3>If it croaks, creeps, leaps, slithers, or flies, it can be found in this colourful shop. Here,
                        you can purchase a variety of plush toys including Crookshanks™, Fang, Buckbeak™, and Scabbers™.
                        An assortment of owls is also available, including Pigwidgeon and Hedwig™.</h3>
                </div>
            </div>
        </div>
        <div class="ollivandersDAContainer">
            <!-- image sourced from https://www.universalorlando.com/web/en/us/things-to-do/shopping/ollivanders-diagon-alley -->
            <a href="https://www.universalorlando.com/web/en/us/things-to-do/shopping/ollivanders-diagon-alley"
                target="_blank">
                <img class="ollivandersDAImage" src="../../assets/images/entertainmentImages/shopsImages/ollivandersDA.jpg"
                    alt="Ollivanders™">
                <h4>Click Image for More Info</h4>
            </a>
            <div class="ollivandersDAInfo">
                <div class="name ollivandersDA">
                    <h2>Ollivanders™</h2>
                </div>
                <div class="detail ollivandersDADetail">
                    <h3>Inside, towering walls reveal thousands of boxes stacked to the ceiling. And within each box, a
                        wand is waiting to choose its wizard. Here you can purchase your own unique Ollivanders™ wand,
                        or select one of many Harry Potter™ character wand replicas, sets, and Interactive Wands.</h3>
                </div>
            </div>
        </div>
        <div class="qualityQuidditchContainer">
            <!-- image sourced from https://www.universalorlando.com/web/en/us/things-to-do/shopping/quality-quidditch-supplies -->
            <a href="https://www.universalorlando.com/web/en/us/things-to-do/shopping/quality-quidditch-supplies"
                target="_blank">
                <img class="qualityQuidditchImage" src="../../assets/images/entertainmentImages/shopsImages/qualityQuidditch.jpg"
                    alt="Quality Quidditch™ Supplies">
                <h4>Click Image for More Info</h4>
            </a>
            <div class="qualityQuidditchInfo">
                <div class="name qualityQuidditch">
                    <h2>Quality Quidditch™ Supplies</h2>
                </div>
                <div class="detail qualityQuidditchDetail">
                    <h3>Find everything you need for the top sport of the wizarding world, including Quidditch™
                        sweaters, brooms, Golden Snitches, Bludgers, Quaffles, and more. Whether you’re a fan of the
                        Holyhead Harpies or the Chudley Cannons, you can show support with hats, pennants, and apparel
                        for your team.</h3>
                </div>
            </div>
        </div>
        <div class="scribbulusContainer">
            <!-- image sourced from https://www.universalorlando.com/web/en/us/things-to-do/shopping/scribbulus -->
            <a href="https://www.universalorlando.com/web/en/us/things-to-do/shopping/scribbulus" target="_blank">
                <img class="scribbulusImage" src="../../assets/images/entertainmentImages/shopsImages/scribbulus.jpg"
                    alt="Scribbulus">
                <h4>Click Image for More Info</h4>
            </a>
            <div class="scribbulusInfo">
                <div class="name scribbulus">
                    <h2>Scribbulus</h2>
                </div>
                <div class="detail scribbulusDetail">
                    <h3>Find all the authentic writing supplies a witch or wizard could need including ink and inkwells,
                        feather quills, parchment, and writing paper. You’ll also find notebooks and journals, bookmarks
                        and backpacks, stationery sets and seals, as well as envelopes and postcards.</h3>
                </div>
            </div>
        </div>
        <div class="sugarplumsContainer">
            <!-- image sourced from https://www.universalorlando.com/web/en/us/things-to-do/shopping/sugarplums-->
            <a href="https://www.universalorlando.com/web/en/us/things-to-do/shopping/sugarplums" target="_blank">
                <img class="sugarplumsImage" src="../../assets/images/entertainmentImages/shopsImages/sugarplums.jpg"
                    alt="Sugarplum's Sweetshop">
                <h4>Click Image for More Info</h4>
            </a>
            <div class="sugarplumsInfo">
                <div class="name sugarplums">
                    <h2>Sugarplum's Sweetshop</h2>
                </div>
                <div class="detail sugarplumsDetail">
                    <h3>This delightful Diagon Alley™ shop offers a wealth of wizarding candies and confections. From
                        classic fudge to the infamous Bertie Bott's Every-Flavour Beans™, there’s something to satisfy
                        every sweet tooth.</h3>
                </div>
            </div>
        </div>
        <div class="gregorovitchContainer">
            <!-- image sourced from https://www.universalorlando.com/web/en/us/things-to-do/shopping/wands-by-gregorovitch -->
            <a href="https://www.universalorlando.com/web/en/us/things-to-do/shopping/wands-by-gregorovitch"
                target="_blank">
                <img class="gregorovitchImage" src="../../assets/images/entertainmentImages/shopsImages/gregorovitch.jpg"
                    alt="Wands by Gregorovitch">
                <h4>Click Image for More Info</h4>
            </a>
            <div class="gregorovitchInfo">
                <div class="name gregorovitch">
                    <h2>Wands by Gregorovitch</h2>
                </div>
                <div class="detail gregorovitchDetail">
                    <h3>There's more than one wandmaker in Diagon Alley™. In this legendary wand shop you can choose
                        from a wide assortment of Harry Potter™ character wand replicas, Interactive Wands, and more.
                    </h3>
                </div>
            </div>
        </div>
        <div class="weasleyswwContainer">
            <!-- image sourced from https://www.universalorlando.com/web/en/us/things-to-do/shopping/weasleys-wizard-wheezes -->
            <a href="https://www.universalorlando.com/web/en/us/things-to-do/shopping/weasleys-wizard-wheezes"
                target="_blank">
                <img class="weasleyswwImage" src="../../assets/images/entertainmentImages/shopsImages/weasleysww.jpg"
                    alt="Weasleys' Wizard Wheezes">
                <h4>Click Image for More Info</h4>
            </a>
            <div class="weasleyswwInfo">
                <div class="name weasleysww">
                    <h2>Weasleys' Wizard Wheezes</h2>
                </div>
                <div class="detail weasleyswwDetail">
                    <h3>This colourful emporium is the novelty joke shop run by identically ingenious prankster twins
                        Fred and George Weasley. The shop offers patrons all manner of mischief, such as magical jokes,
                        tricks, and toys including Pygmy Puffs, U-No-Poo pills, Skiving Snackboxes, Puking Pastilles,
                        and more.</h3>
                </div>
            </div>
        </div>
        <div class="wiseacresContainer">
            <!-- image sourced from https://www.universalorlando.com/web/en/us/things-to-do/shopping/wiseacres-wizarding-equipment -->
            <a href="https://www.universalorlando.com/web/en/us/things-to-do/shopping/wiseacres-wizarding-equipment"
                target="_blank">
                <img class="wiseacresImage" src="../../assets/images/entertainmentImages/shopsImages/wiseacres.jpg"
                    alt="Wiseacre's Wizarding Equipment">
                <h4>Click Image for More Info</h4>
            </a>
            <div class="wiseacresInfo">
                <div class="name wiseacres">
                    <h2>Wiseacre's Wizarding Equipment</h2>
                </div>
                <div class="detail wiseacresDetail">
                    <h3>At Wiseacre's Wizarding Equipment, visitors will find a variety of wizarding wares including
                        crystal balls, telescopes, hourglasses, and more. And don't miss the unique selection of apparel
                        and accessories from your Hogwarts™ house.</h3>
                </div>
            </div>
        </div>
    </div>

    <script src="../../../../javaScript/app.js"></script>
</body>