<!-- Harry Potter and Fantastic Beasts Publishing and Stage Theatrical rights © J.K. Rowling
Harry Potter and Fantastic Beasts characters, names and related indicia and trademarks of and © Warner Bros. Entertainment Inc. All Rights Reserved.
Harry Potter motion picture images © and TM Warner Bros. Entertainment Inc
J.K. ROWLING’S WIZARDING WORLD is a trademark of J.K. Rowling and Warner Bros. Entertainment Inc.
Materials from the Harry Potter series of films and from the film Fantastic Beasts And Where To Find Them are courtesy of Warner Bros. Entertainment.
!!This page is intended for personal use only!! Please email shawn.harris3510@yahoo.com if any images or trademarks not properly sited.-->

<body class="entertainmentBody" onload="quoteGenerator()">

    <h1>Shows</h1>
    <div class="tabsContainer">
        <button class="ridesTab" onclick="openRidesThemePark(event, 'diagonAlley')" id="defaultOpen">Diagon
            Alley™</button>
        <button class="ridesTab" onclick="openRidesThemePark(event, 'hogsmeade')">Hogsmeade™</button>
    </div>
    <div id="hogsmeade" class="tabContent showsHContainer">
        <div class="frogChoirContainer">
            <!-- image sourced from https://www.universalorlando.com/web/en/us/things-to-do/shows/frog-choir -->
            <a href="https://www.universalorlando.com/web/en/us/things-to-do/shows/frog-choir" target="_blank">
                <img class="frogChoirImage" src="../../assets/images/entertainmentImages/showsImages/frogChoir.jpg"
                    alt="Frog Choir">
                <h4>Click Image for More Info</h4>
            </a>
            <div class="frogChoirInfo">
                <div class="name frogChoir">
                    <h2>Frog Choir</h2>
                </div>
                <div class="detail frogChoirDetail">
                    <h3>Hear the vocal stylings of this small choir of Hogwarts™ students, accompanied by the smooth
                        bass rumbles of their giant croaking frogs as they perform familiar wizarding songs with an
                        a cappella flourish.</h3>
                </div>
            </div>
        </div>
        <div class="nighttimeLightsContainer">
            <!-- image sourced from https://www.universalorlando.com/web/en/us/things-to-do/entertainment/the-nighttime-lights-at-hogwarts-castle -->
            <a href="https://www.universalorlando.com/web/en/us/things-to-do/entertainment/the-nighttime-lights-at-hogwarts-castle"
                target="_blank">
                <img class="nighttimeLightsImage" src="../../assets/images/entertainmentImages/showsImages/nighttimeLights.jpg"
                    alt="The Nighttime Lights at Hogwarts™ Castle">
                <h4>Click Image for More Info</h4>
            </a>
            <div class="nighttimeLightsInfo">
                <div class="name nighttimeLights">
                    <h2>The Nighttime Lights at Hogwarts™ Castle</h2>
                </div>
                <div class="detail nighttimeLightsDetail">
                    <h3>See The Nighttime Lights at Hogwarts™ Castle, a celebration in The Wizarding World of Harry
                        Potter™. On select nights, watch in awe from Hogsmeade™ village as a dazzling light
                        spectacle unfolds against the majestic backdrop of the castle. It is a beautiful way to end
                        your day at Universal’s Islands of Adventure™.</h3>
                </div>
            </div>
        </div>
        <div class="triwizardRallyContainer">
            <!-- image sourced from https://www.universalorlando.com/web/en/us/things-to-do/shows/triwizard-spirit-rally -->
            <a href="https://www.universalorlando.com/web/en/us/things-to-do/shows/triwizard-spirit-rallys"
                target="_blank">
                <img class="triwizardRallyImage" src="../../assets/images/entertainmentImages/showsImages/triwizardRally.jpg"
                    alt="Triwizard Spirit Rally">
                <h4>Click Image for More Info</h4>
            </a>
            <div class="triwizardRallyInfo">
                <div class="name triwizardRally">
                    <h2>Triwizard Spirit Rally</h2>
                </div>
                <div class="detail triwizardRallyDetail">
                    <h3>Cheer on students from Hogwarts™, Beauxbatons, and Durmstrang as they lead the excitement
                        for the Triwizard Tournament.</h3>
                </div>
            </div>
        </div>
    </div>

    <div id="diagonAlley" class="tabContent showsDAContainer">
        <div class="celestinaContainer">
            <!-- image sourced from https://www.universalorlando.com/web/en/us/things-to-do/shows/celestina-warbeck-and-the-banshees -->
            <a href="https://www.universalorlando.com/web/en/us/things-to-do/shows/celestina-warbeck-and-the-banshees"
                target="_blank">
                <img class="celestinaImage" src="../../assets/images/entertainmentImages/showsImages/celestina.jpg"
                    alt="Celestina Warbeck and the Banshees">
                <h4>Click Image for More Info</h4>
            </a>
            <div class="celestinaInfo">
                <div class="name celestina">
                    <h2>Celestina Warbeck and the Banshees</h2>
                </div>
                <div class="detail celestinaDetail">
                    <h3>Sway and groove to the dulcet tones of this singing sensation of the wizarding world. The
                        swinging show features never-before-heard songs including 'A Cauldron Full Of Hot, Strong Love',
                        and 'You Charmed The Heart Right Out Of Me'.</h3>
                </div>
            </div>
        </div>
        <div class="beedleTheBardContainer">
            <!-- image sourced from https://www.universalorlando.com/web/en/us/things-to-do/shows/the-tales-of-beedle-the-bard -->
            <a href="https://www.universalorlando.com/web/en/us/things-to-do/shows/the-tales-of-beedle-the-bard"
                target="_blank">
                <img class="beedleTheBardImage" src="../../assets/images/entertainmentImages/showsImages/beedleTheBard.jpg"
                    alt="The Tales of Beedle the Bard">
                <h4>Click Image for More Info</h4>
            </a>
            <div class="beedleTheBardInfo">
                <div class="name beedleTheBard">
                    <h2>The Tales of Beedle the Bard</h2>
                </div>
                <div class="detail beedleTheBardDetail">
                    <h3>Gather 'round for a stage show presented by the Wizarding Academy of Dramatic Arts. These adept
                        players perform a trunk show using stylized scenic pieces, props, and puppetry to retell two
                        famous tales of Beedle the Bard, a 15th-century author of wizarding fairytales.</h3>
                </div>
            </div>
        </div>
    </div>
</body>
<app-quotes></app-quotes>
<script src="../../custom.js"></script>