<!-- Harry Potter and Fantastic Beasts Publishing and Stage Theatrical rights © J.K. Rowling
Harry Potter and Fantastic Beasts characters, names and related indicia and trademarks of and © Warner Bros. Entertainment Inc. All Rights Reserved.
Harry Potter motion picture images © and TM Warner Bros. Entertainment Inc
J.K. ROWLING’S WIZARDING WORLD is a trademark of J.K. Rowling and Warner Bros. Entertainment Inc.
Materials from the Harry Potter series of films and from the film Fantastic Beasts And Where To Find Them are courtesy of Warner Bros. Entertainment.
!!This page is intended for personal use only!! Please email shawn.harris3510@yahoo.com if any images or trademarks not properly sited.-->

<body class="entertainmentBody">

    <div class="titleMovies">
        <h1 class="moviesTitle">Movies</h1>
    </div>
    <div class="backgroundActors">
        <div class="actorsImages">
            <div class="polaroidGranger" id="slide1">
                <div class="pPictureGranger"></div>
                <div class="characterGranger"><a href="https://www.pottermore.com/explore-the-story/hermione-granger">
                        <li class="nameLink">Hermione</li>
                    </a></div>
            </div>
            <div class="polaroidPotter" id="slide2">
                <div class="pPicturePotter"></div>
                <div class="characterPotter">
                    <div class="characterGranger"><a href="https://www.pottermore.com/explore-the-story/harry-potter">
                            <li class="nameLink">Harry</li>
                        </a></div>
                </div>
            </div>
            <div class="polaroidWeasley" id="slide3">
                <div class="pPictureWeasley"></div>
                <div class="characterWeasley">
                    <div class="characterGranger"><a href="https://www.pottermore.com/explore-the-story/ron-weasley">
                            <li class="nameLink">Ron</li>
                        </a></div>
                </div>
            </div>
        </div>
        <div class="realActorInfo">
            <div class="actorsNameGranger">
                <a href="https://www.imdb.com/name/nm0914612/">Emma Watson</a>
                <div class="actorSM">
                    <a class="facebook footerLists" href="https://www.facebook.com/emmawatson/" target="_blank">
                        <img src="../../assets/images/facebook.png" alt="Facebook Logo" style="width:20px;height:20px">
                    </a>
                    <a class="instagram footerLists" href="https://www.instagram.com/emmawatson/?hl=en" target="_blank">
                        <img src="../../assets/images/instagramVector.png" alt="Instagram" style="width:20px;height:20px">
                    </a>
                    <a class="" href="https://twitter.com/EmmaWatson" target="_blank">
                        <img src="../../assets/images/twitter.png" alt="Twitter" style="width:20px;height:20px">
                    </a>
                </div>
            </div>

            <div class="actorsNamePotter">
                <a href="https://www.imdb.com/name/nm0705356/?ref_=nv_sr_1?ref_=nv_sr_1">Daniel Radcliffe</a>
                <div class="actorSM">
                    <a href="https://www.instagram.com/daniel9340/?hl=en" target="_blank">
                        <img src="../../assets/images/instagramVector.png" alt="Instagram" style="width:20px;height:20px">
                    </a>
                </div>
            </div>
            <div class="actorsNameWeasley">
                <a href="https://www.imdb.com/name/nm0342488/?ref_=nv_sr_1?ref_=nv_sr_1">Rupert Grint</a>
                <div class="actorSM">
                </div>
            </div>
        </div>
    </div>
    <div class="movies">
        <div class="moviePic">
            <!-- image sourced from https://www.amazon.com/gp/video/detail/B00AUN2HO4/ref=atv_dl_rdr -->
            <img src="../../assets/images/aboutImages/moviesImages/hp1Movie.jpg" alt="Sorcerer's Stone"
                style="width:103pt;height:157pt">
        </div>
        <div class="availibilityContainer">
            <div class="availibility">
                <h1 class="moviesH1">Harry Potter and the Sorcerer's Stone</h1>
                <p class="moviesP">A 2001 fantasy film directed by Chris Columbus and distributed by Warner Bros.
                    Pictures based on J. K. Rowling's 1997 novel of the same name. The film is the first instalment of
                    the Harry Potter film series and was written by Steve Kloves and produced by David Heyman. Its story
                    follows Harry Potter's first year at Hogwarts School of Witchcraft and Wizardry as he discovers that
                    he is a famous wizard and begins his education.</p>
            </div>
            <div class="streaming">
                <div class="amazonPrime">
                    <a class="" href="https://www.amazon.com/gp/video/detail/B00AUN2HO4/ref=atv_dl_rdr"
                        target="_blank">Amazon Prime <br>
                        <img src="../../assets/images/aboutImages/moviesImages/prime.png" alt="Amazon Prime"
                            style="width:20px;height:20px">
                    </a>
                </div>
                <div class="googlePlay">
                    <a class="" href="https://play.google.com/store/movies/details?id=RzCjI3Jy7E8"
                        target="_blank">Google Play<br>
                        <img src="../../assets/images/aboutImages/moviesImages/googlePlay.png" alt="Google Play"
                            style="width:20px;height:20px">
                    </a>
                </div>
                <div class="iTunes">
                    <a class=""
                        href="https://itunes.apple.com/us/movie/harry-potter-and-the-sorcerers-stone/id271469503"
                        target="_blank">iTunes<br>
                        <img src="../../assets/images/aboutImages/moviesImages/iTunes.png" alt="iTunes"
                            style="width:20px;height:20px">
                    </a>
                </div>
                <div class="vudu">
                    <a class=""
                        href="https://www.vudu.com/content/movies/details/Harry-Potter-and-the-Sorcerers-Stone/10617"
                        target="_blank">Vudu<br>
                        <img src="../../assets/images/aboutImages/moviesImages/vudu.png" alt="Vudu" style="width:20px;height:20px">
                    </a>
                </div>
                <div class="youTube">
                    <a class="" href="https://www.youtube.com/watch?v=RzCjI3Jy7E8" target="_blank">YouTube
                        <br>
                        <img src="../../assets/images/aboutImages/moviesImages/youTube.png" alt="YouTube"
                            style="width:20px;height:20px">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="movies">
        <div class="moviePic">
            <!-- image sourced from https://www.amazon.com/gp/video/detail/B00AUN2HO4/ref=atv_dl_rdr -->
            <img src="../../assets/images/aboutImages/moviesImages/hp2Movie.jpg" alt="Chamber of Secrets"
                style="width:103pt;height:157pt">
        </div>
        <div class="availibilityContainer">
            <div class="availibility">
                <h1 class="moviesH1">Harry Potter and the Chamber of Secrests</h1>
                <p class="moviesP">A 2002 fantasy film directed by Chris Columbus and distributed by Warner Bros.
                    Pictures based on J. K. Rowling's 1998 novel of the same name. The film is a sequel to the
                    2001 film Harry Potter and the Philosopher's Stone and the second instalment in the Harry Potter
                    film series. It was written by Steve Kloves and produced by David Heyman. Its story follows Harry
                    Potter's second year at Hogwarts School of Witchcraft and Wizardry as the Heir of Salazar Slytherin
                    opens the Chamber of Secrets, unleashing a monster that petrifies the school's denizens.</p>
            </div>
            <div class="streaming">
                <div class="amazonPrime">
                    <a class="" href="https://www.amazon.com/gp/video/detail/B002DQDV6Y/ref=atv_dl_rdr"
                        target="_blank">Amazon Prime<br>
                        <img src="../../assets/images/aboutImages/moviesImages/prime.png" alt="Amazon Prime"
                            style="width:20px;height:20px">
                    </a>
                </div>
                <div class="googlePlay">
                    <a class="" href="https://play.google.com/store/movies/details?id=zX_PHrUTbLM"
                        target="_blank">Google Play<br>
                        <img src="../../assets/images/aboutImages/moviesImages/googlePlay.png" alt="Google Play"
                            style="width:20px;height:20px">
                    </a>
                </div>
                <div class="iTunes">
                    <a class=""
                        href="https://itunes.apple.com/us/movie/harry-potter-and-the-chamber-of-secrets/id272931585"
                        target="_blank">iTunes<br>
                        <img src="../../assets/images/aboutImages/moviesImages/iTunes.png" alt="iTunes"
                            style="width:20px;height:20px">
                    </a>
                </div>
                <div class="vudu">
                    <a class=""
                        href="https://www.vudu.com/content/movies/details/Harry-Potter-and-the-Chamber-of-Secrets/10323"
                        target="_blank">Vudu<br>
                        <img src="../../assets/images/aboutImages/moviesImages/vudu.png" alt="Vudu" style="width:20px;height:20px">
                    </a>
                </div>
                <div class="youTube">
                    <a class="" href="https://www.youtube.com/watch?v=zX_PHrUTbLM" target="_blank">YouTube
                        <br>
                        <img src="../../assets/images/aboutImages/moviesImages/youTube.png" alt="YouTube"
                            style="width:20px;height:20px">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="movies">
        <div class="moviePic">
            <!-- image sourced from https://www.amazon.com/gp/video/detail/B00AUN2HO4/ref=atv_dl_rdr -->
            <img src="../../assets/images/aboutImages/moviesImages/hp3Movie.jpg" alt="Prisoner of Azkaban"
                style="width:103pt;height:157pt">
        </div>
        <div class="availibilityContainer">
            <div class="availibility">
                <h1 class="moviesH1">Harry Potter and the Prizoner of Azkaban</h1>
                <p class="moviesP">A 2004 fantasy film directed by Alfonso Cuarón and distributed by Warner Bros.
                    Pictures based on J. K. Rowling's 1999 novel of the same name. The film, which is the
                    third instalment in the Harry Potter film series, was written by Steve Kloves and produced by Chris
                    Columbus, David Heyman, and Mark Radcliffe. The story follows Harry Potter's third year at Hogwarts
                    as he is informed that a prisoner named Sirius Black has escaped from Azkaban and intends to kill
                    him.</p>
            </div>
            <div class="streaming">
                <div class="amazonPrime">
                    <a class="" href="https://www.amazon.com/gp/video/detail/B00271DNP4/ref=atv_dl_rdr"
                        target="_blank">Amazon Prime<br>
                        <img src="../../assets/images/aboutImages/moviesImages/prime.png" alt="Amazon Prime"
                            style="width:20px;height:20px">
                    </a>
                </div>
                <div class="googlePlay">
                    <a class="" href="https://play.google.com/store/movies/details?id=wsJmHfn_qks"
                        target="_blank">Google Play<br>
                        <img src="../../assets/images/aboutImages/moviesImages/googlePlay.png" alt="Google Play"
                            style="width:20px;height:20px">
                    </a>
                </div>
                <div class="iTunes">
                    <a class=""
                        href="https://itunes.apple.com/us/movie/harry-potter-and-the-prisoner-of-azkaban/id285825306"
                        target="_blank">iTunes<br>
                        <img src="../../assets/images/aboutImages/moviesImages/iTunes.png" alt="iTunes"
                            style="width:20px;height:20px">
                    </a>
                </div>
                <div class="vudu">
                    <a class=""
                        href="https://www.vudu.com/content/movies/details/Harry-Potter-and-the-Prisoner-of-Azkaban/10748"
                        target="_blank">Vudu<br>
                        <img src="../../assets/images/aboutImages/moviesImages/vudu.png" alt="Vudu" style="width:20px;height:20px">
                    </a>
                </div>
                <div class="youTube">
                    <a class="" href="https://www.youtube.com/watch?v=wsJmHfn_qks" target="_blank">YouTube
                        <br>
                        <img src="../../assets/images/aboutImages/moviesImages/youTube.png" alt="YouTube"
                            style="width:20px;height:20px">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="movies">
        <div class="moviePic">
            <!-- image sourced from https://www.amazon.com/gp/video/detail/B00AUN2HO4/ref=atv_dl_rdr -->
            <img src="../../assets/images/aboutImages/moviesImages/hp4Movie.jpg" alt="Goblet of Fire"
                style="width:103pt;height:157pt">
        </div>
        <div class="availibilityContainer">
            <div class="availibility">
                <h1 class="moviesH1">Harry Potter and the Goblet of Fire</h1>
                <p class="moviesP">A 2005 fantasy film directed by Mike Newell and distributed by Warner Bros.
                    Pictures based on J. K. Rowling's 2000 novel of the same name. The film, which is the
                    fourth instalment in the Harry Potter film series, was written by Steve Kloves and produced by David
                    Heyman. The story follows Harry's fourth year at Hogwarts as he is chosen by the Goblet of Fire to
                    compete in the Triwizard Tournament.</p>
            </div>
            <div class="streaming">
                <div class="amazonPrime">
                    <a class="" href="https://www.amazon.com/gp/video/detail/B000HKY9W8/ref=atv_dl_rdr"
                        target="_blank">Amazon Prime<br>
                        <img src="../../assets/images/aboutImages/moviesImages/prime.png" alt="Amazon Prime"
                            style="width:20px;height:20px">
                    </a>
                </div>
                <div class="googlePlay">
                    <a class="" href="https://play.google.com/store/movies/details?id=gPhXYeoCDlQ"
                        target="_blank">Google Play<br>
                        <img src="../../assets/images/aboutImages/moviesImages/googlePlay.png" alt="Google Play"
                            style="width:20px;height:20px">
                    </a>
                </div>
                <div class="iTunes">
                    <a class="" href="https://itunes.apple.com/us/movie/harry-potter-and-the-goblet-of-fire/id285832716"
                        target="_blank">iTunes<br>
                        <img src="../../assets/images/aboutImages/moviesImages/iTunes.png" alt="iTunes"
                            style="width:20px;height:20px">
                    </a>
                </div>
                <div class="vudu">
                    <a class=""
                        href="https://www.vudu.com/content/movies/details/Harry-Potter-and-the-Goblet-of-Fire/10809"
                        target="_blank">Vudu<br>
                        <img src="../../assets/images/aboutImages/moviesImages/vudu.png" alt="Vudu" style="width:20px;height:20px">
                    </a>
                </div>
                <div class="youTube">
                    <a class="" href="https://www.youtube.com/watch?v=gPhXYeoCDlQ" target="_blank">YouTube
                        <br>
                        <img src="../../assets/images/aboutImages/moviesImages/youTube.png" alt="YouTube"
                            style="width:20px;height:20px">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="movies">
        <div class="moviePic">
            <!-- image sourced from https://www.amazon.com/gp/video/detail/B00AUN2HO4/ref=atv_dl_rdr -->
            <img src="../../assets/images/aboutImages/moviesImages/hp5Movie.jpg" alt="Order of the Phoenix"
                style="width:103pt;height:157pt">
        </div>
        <div class="availibilityContainer">
            <div class="availibility">
                <h1 class="moviesH1">Harry Potter and the Order of the Phoenix</h1>
                <p class="moviesP">A 2007 fantasy film directed by David Yates and distributed by Warner Bros.
                    Pictures based on J. K. Rowling's 2003 novel of the same name. The fifth instalment in the
                    Harry Potter film series, it was written by Michael Goldenberg (making this the only film in the
                    series not to be scripted by Steve Kloves) and produced by David Heyman and David Barron. The story
                    follows Harry Potter's fifth year at Hogwarts School of Witchcraft and Wizardry as the Ministry of
                    Magic is in denial of Lord Voldemort's return.</p>
            </div>
            <div class="streaming">
                <div class="amazonPrime">
                    <a class="" href="https://www.amazon.com/gp/video/detail/B0012GE91W/ref=atv_dl_rdr"
                        target="_blank">Amazon Prime<br>
                        <img src="../../assets/images/aboutImages/moviesImages/prime.png" alt="Amazon Prime"
                            style="width:20px;height:20px">
                    </a>
                </div>
                <div class="googlePlay">
                    <a class="" href="https://play.google.com/store/movies/details?id=Ak6vjFiZUqM"
                        target="_blank">Google Play<br>
                        <img src="../../assets/images/aboutImages/moviesImages/googlePlay.png" alt="Google Play"
                            style="width:20px;height:20px">
                    </a>
                </div>
                <div class="iTunes">
                    <a class=""
                        href="https://itunes.apple.com/us/movie/harry-potter-and-the-order-of-the-phoenix/id273696792"
                        target="_blank">iTunes<br>
                        <img src="../../assets/images/aboutImages/moviesImages/iTunes.png" alt="iTunes"
                            style="width:20px;height:20px">
                    </a>
                </div>
                <div class="vudu">
                    <a class=""
                        href="https://www.vudu.com/content/movies/details/Harry-Potter-and-the-Order-of-the-Phoenix/129092"
                        target="_blank">Vudu<br>
                        <img src="../../assets/images/aboutImages/moviesImages/vudu.png" alt="Vudu" style="width:20px;height:20px">
                    </a>
                </div>
                <div class="youTube">
                    <a class="" href="https://www.youtube.com/watch?v=Ak6vjFiZUqM" target="_blank">YouTube
                        <br>
                        <img src="../../assets/images/aboutImages/moviesImages/youTube.png" alt="YouTube"
                            style="width:20px;height:20px">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="movies">
        <div class="moviePic">
            <!-- image sourced from https://www.amazon.com/gp/video/detail/B00AUN2HO4/ref=atv_dl_rdr -->
            <img src="../../assets/images/aboutImages/moviesImages/hp6Movie.jpg" alt="Half Blood Prince"
                style="width:103pt;height:157pt">
        </div>
        <div class="availibilityContainer">
            <div class="availibility">
                <h1 class="moviesH1">Harry Potter and the Half Blood Prince</h1>
                <p class="moviesP">A 2009 fantasy film directed by David Yates and distributed by Warner Bros.
                    Pictures based on J. K. Rowling's 2005 novel of the same name. The film, which is the
                    sixth instalment in the Harry Potter film series, was written by Steve Kloves and produced by David
                    Heyman and David Barron. The story follows Harry Potter's sixth year at Hogwarts as he receives a
                    mysterious textbook, falls in love, and attempts to retrieve a memory that holds the key to Lord
                    Voldemort's downfall.</p>
            </div>
            <div class="streaming">
                <div class="amazonPrime">
                    <a class="" href="https://www.amazon.com/gp/video/detail/B002RRWWQ4/ref=atv_dl_rdr"
                        target="_blank">Amazon Prime<br>
                        <img src="../../assets/images/aboutImages/moviesImages/prime.png" alt="Amazon Prime"
                            style="width:20px;height:20px">
                    </a>
                </div>
                <div class="googlePlay">
                    <a class="" href="https://play.google.com/store/movies/details?id=TA7uBS2hfik"
                        target="_blank">Google Play<br>
                        <img src="../../assets/images/aboutImages/moviesImages/googlePlay.png" alt="Google Play"
                            style="width:20px;height:20px">
                    </a>
                </div>
                <div class="iTunes">
                    <a class=""
                        href="https://itunes.apple.com/us/movie/harry-potter-and-the-half-blood-prince/id326568786"
                        target="_blank">iTunes<br>
                        <img src="../../assets/images/aboutImages/moviesImages/iTunes.png" alt="iTunes"
                            style="width:20px;height:20px">
                    </a>
                </div>
                <div class="vudu">
                    <a class=""
                        href="https://www.vudu.com/content/movies/details/Harry-Potter-and-the-Half-Blood-Prince/169579"
                        target="_blank">Vudu<br>
                        <img src="../../assets/images/aboutImages/moviesImages/vudu.png" alt="Vudu" style="width:20px;height:20px">
                    </a>
                </div>
                <div class="youTube">
                    <a class="" href="https://www.youtube.com/watch?v=TA7uBS2hfik" target="_blank">YouTube
                        <br>
                        <img src="../../assets/images/aboutImages/moviesImages/youTube.png" alt="YouTube"
                            style="width:20px;height:20px">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="movies">
        <div class="moviePic">
            <!-- image sourced from https://www.amazon.com/gp/video/detail/B00AUN2HO4/ref=atv_dl_rdr -->
            <img src="../../assets/images/aboutImages/moviesImages/hp7Movie.jpg" alt="Deathly Hallows – Part 1"
                style="width:103pt;height:157pt">
        </div>
        <div class="availibilityContainer">
            <div class="availibility">
                <h1 class="moviesH1">Harry Potter and the Deathly Hallows – Part 1</h1>
                <p class="moviesP">A 2010 fantasy film directed by David Yates and distributed by Warner Bros.
                    Pictures. It is the first of two cinematic parts based on J. K. Rowling's 2007 novel of the same
                    name and features an ensemble cast. The film, which is the seventh and penultimate instalment in
                    the Harry Potter film series, was written by Steve Kloves and produced by David Heyman, David
                    Barron, and Rowling. The story follows Harry Potter, who has been tasked by Dumbledore with finding
                    and destroying Lord Voldemort's secret to immortality – the Horcruxes. </p>
            </div>
            <div class="streaming">
                <div class="amazonPrime">
                    <a class="" href="https://www.amazon.com/gp/video/detail/B004WMKSH2/ref=atv_dl_rdr"
                        target="_blank">Amazon Prime<br>
                        <img src="../../assets/images/aboutImages/moviesImages/prime.png" alt="Amazon Prime"
                            style="width:20px;height:20px">
                    </a>
                </div>
                <div class="googlePlay">
                    <a class="" href="https://play.google.com/store/movies/details?id=vUbuG9NfNiI"
                        target="_blank">Google Play<br>
                        <img src="../../assets/images/aboutImages/moviesImages/googlePlay.png" alt="Google Play"
                            style="width:20px;height:20px">
                    </a>
                </div>
                <div class="iTunes">
                    <a class=""
                        href="https://itunes.apple.com/us/movie/harry-potter-and-the-deathly-hallows-part-1/id421072264"
                        target="_blank">iTunes<br>
                        <img src="../../assets/images/aboutImages/moviesImages/iTunes.png" alt="iTunes"
                            style="width:20px;height:20px">
                    </a>
                </div>
                <div class="vudu">
                    <a class=""
                        href="https://www.vudu.com/content/movies/details/Harry-Potter-and-the-Deathly-Hallows-Part-1/178908"
                        target="_blank">Vudu<br>
                        <img src="../../assets/images/aboutImages/moviesImages/vudu.png" alt="Vudu" style="width:20px;height:20px">
                    </a>
                </div>
                <div class="youTube">
                    <a class="" href="https://www.youtube.com/watch?v=vUbuG9NfNiI" target="_blank">YouTube
                        <br>
                        <img src="../../assets/images/aboutImages/moviesImages/youTube.png" alt="YouTube"
                            style="width:20px;height:20px">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="movies">
        <div class="moviePic">
            <!-- image sourced from https://www.amazon.com/gp/video/detail/B00AUN2HO4/ref=atv_dl_rdr -->
            <img src="../../assets/images/aboutImages/moviesImages/hp8Movie.jpg" alt="Deathly Hallows – Part 2"
                style="width:103pt;height:157pt">
        </div>
        <div class="availibilityContainer">
            <div class="availibility">
                <h1 class="moviesH1">Harry Potter and the Deathly Hallows – Part 2</h1>
                <p class="moviesP">A 2011 fantasy film directed by David Yates and distributed by Warner Bros.
                    Pictures and is the second of two cinematic parts based on J. K. Rowling's 2007 novel of the same
                    name. The film, which is the eighth and final instalment in the Harry Potter series, was written
                    by Steve Kloves and produced by David Heyman, David Barron, and Rowling. The story continues to
                    follow Harry Potter's quest to find and destroy Lord Voldemort's Horcruxes in order to stop him once
                    and for all.</p>
            </div>
            <div class="streaming">
                <div class="amazonPrime">
                    <a class="" href="https://www.amazon.com/gp/video/detail/B005UG542S/ref=atv_dl_rdr"
                        target="_blank">Amazon Prime<br>
                        <img src="../../assets/images/aboutImages/moviesImages/prime.png" alt="Amazon Prime"
                            style="width:20px;height:20px">
                    </a>
                </div>
                <div class="googlePlay">
                    <a class="" href="https://play.google.com/store/movies/details?id=08mJWU1w79w"
                        target="_blank">Google Play<br>
                        <img src="../../assets/images/aboutImages/moviesImages/googlePlay.png" alt="Google Play"
                            style="width:20px;height:20px">
                    </a>
                </div>
                <div class="iTunes">
                    <a class=""
                        href="https://itunes.apple.com/us/movie/harry-potter-and-the-deathly-hallows-part-2/id455832983"
                        target="_blank">iTunes<br>
                        <img src="../../assets/images/aboutImages/moviesImages/iTunes.png" alt="iTunes"
                            style="width:20px;height:20px">
                    </a>
                </div>
                <div class="vudu">
                    <a class=""
                        href="https://www.vudu.com/content/movies/details/Harry-Potter-and-the-Deathly-Hallows-Part-2/182917"
                        target="_blank">Vudu<br>
                        <img src="../../assets/images/aboutImages/moviesImages/vudu.png" alt="Vudu" style="width:20px;height:20px">
                    </a>
                </div>
                <div class="youTube">
                    <a class="" href="https://www.youtube.com/watch?v=08mJWU1w79w" target="_blank">YouTube
                        <br>
                        <img src="../../assets/images/aboutImages/moviesImages/youTube.png" alt="YouTube"
                            style="width:20px;height:20px">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script src="../javaScript/app.js"></script>
</body>