<footer class="footer">
    <div class="siteMap">
        <ul class="aboutHpFooter footerTopics">
            About
            <a routerLink="/jkRowling" class="footerLists dropdownAFooter">
                <li>JK Rowling</li>
            </a>
            <a routerLink="/books" class="footerLists dropdownAFooter">
                <li>Books</li>
            </a>
            <a routerLink="/movies" class="footerLists dropdownAFooter">
                <li>Movies</li>
            </a>
        </ul>
        <ul class="entertainmentFooter footerTopics">
            Entertainment
            <a routerLink="/dining" class="footerLists dropdownEFooter">
                <li>Dining</li>
            </a>
            <a routerLink="/rides" class="footerLists dropdownEFooter">
                <li>Rides</li>
            </a>
            <a routerLink="/shops" class="footerLists dropdownEFooter">
                <li>Shops</li>
            </a>
            <a routerLink="/shows" class="footerLists dropdownEFooter">
                <li>Shows</li>
            </a>
        </ul>
        <ul class="planTripFooter footerTopics">
            Plan Your Trip
            <div class="footerTopics wwOfHP">
                <a class="footerLists"
                    routerLink="https://www.universalorlando.com/web/en/us/tickets-packages/vacation-packages/the-wizarding-world-of-harry-potter-exclusive"
                    target="_blank">
                    <li>Vacation Packages</li>
                </a>
                <a class="footerLists "
                    routerLink="https://www.universalorlando.com/web/en/us/plan-your-visit/hours-information/park-hours#universal-studios-florida"
                    target="_blank">
                    <li>Hours of Operation</li>
                </a>
            </div>
        </ul>
        <ul class="contact footerTopics">Contact Univeral Studios
            <div class="socialMedia">
                <a class="facebook footerLists" routerLink="https://www.facebook.com/UniversalOrlandoResort"
                    target="_blank">
                    <img src="../../assets/images/facebook.png" alt="Facebook Logo" style="width:20px;height:20px">
                </a>
                <a class="instagram footerLists" routerLink="https://www.instagram.com/universalorlando/" target="_blank">
                    <img src="../../assets/images/instagram.png" alt="Instagram" style="width:20px;height:20px">
                </a>
                <a class="pinterest footerLists" routerLink="https://www.pinterest.com/universalorl/" target="_blank">
                    <img src="../../assets/images/pinterest.png" alt="Pinterest" style="width:20px;height:20px">
                </a>
                <a class="twitter footerLists" routerLink="https://twitter.com/UniversalORL" target="_blank">
                    <img src="../../assets/images/twitter.png" alt="Twitter" style="width:20px;height:20px">
                </a>
            </div>
        </ul>
    </div>
</footer>
