<!-- Harry Potter and Fantastic Beasts Publishing and Stage Theatrical rights © J.K. Rowling
Harry Potter and Fantastic Beasts characters, names and related indicia and trademarks of and © Warner Bros. Entertainment Inc. All Rights Reserved.
Harry Potter motion picture images © and TM Warner Bros. Entertainment Inc
J.K. ROWLING’S WIZARDING WORLD is a trademark of J.K. Rowling and Warner Bros. Entertainment Inc.
Materials from the Harry Potter series of films and from the film Fantastic Beasts And Where To Find Them are courtesy of Warner Bros. Entertainment.
!!This page is intended for personal use only!! Please email shawn.harris3510@yahoo.com if any images or trademarks not properly sited.-->

<body class="entertainmentBody" onload="quoteGenerator()">
  <div class="titleBooks">
    <h1 class="booksTitle">Books</h1>
  </div>

  <div class="backgroundActors">
    <div class="booksImages">
      <a href="#bookOne">
        <div class="polaroidBook1" id="slideOne">
          <div class="pPictureBook1"></div>
          <div class="book1">Sorcerer's Stone</div>
        </div>
      </a>
      <a href="#bookTwo">
        <div class="polaroidBook2" id="slideTwo">
          <div class="pPictureBook2"></div>
          <div class="book2">Chamber of Secrets</div>
        </div>
      </a>
      <a href="#bookThree">
        <div class="polaroidBook3" id="slideThree">
          <div class="pPictureBook3"></div>
          <div class="book3">Prizoner of Azkaban</div>
        </div>
      </a>
      <a href="#bookFour">
        <div class="polaroidBook4" id="slideFour">
          <div class="pPictureBook4"></div>
          <div class="book4">Goblet of Fire</div>
        </div>
      </a>
      <a href="#bookFive">
        <div class="polaroidBook5" id="slideFive">
          <div class="pPictureBook5"></div>
          <div class="book5">Order of the Phoenix</div>
        </div>
      </a>
      <a href="#bookSix">
        <div class="polaroidBook6" id="slideSix">
          <div class="pPictureBook6"></div>
          <div class="book6">Half-Blood Prince</div>
        </div>
      </a>
      <a href="#bookSeven">
        <div class="polaroidBook7" id="slideSeven">
          <div class="pPictureBook7"></div>
          <div class="book7">Deathly Hallows</div>
        </div>
      </a>
    </div>
  </div>

  <div class="movies">
    <div class="moviePic">
      <!-- image sourced from https://www.barnesandnoble.com/p/harry-potter-and-the-sorcerers-stone-j-k-rowling/1100036321/2694040851289?st=PLA&sid=BNB_ADL+Marketplace+Good+New+Books+-+Desktop+Low&sourceId=PLAGoNA&dpid=tdtve346c&2sid=Google_c&gclid=Cj0KCQjwpavpBRDQARIsAPfTwiytScvqq5i87gMhCwgD3eEo7ytQ0sB6rfqnhzVJsOhdDIvQ-_RufTQaApUAEALw_wcB -->
      <img
        src="../../assets/images/aboutImages/booksImages/hp1Book.jpg"
        alt="Sorcerer's Stone"
        style="width:103pt;height:157pt"
      />
    </div>
    <div class="availibilityContainer" id="bookOne">
      <div class="availibility">
        <h1 class="moviesH1">Harry Potter and the Sorcerer's Stone</h1>
        <p class="moviesP">
          Harry Potter has never even heard of Hogwarts when the letters start
          dropping on the doormat at number four, Privet Drive. Addressed in
          green ink on yellowish parchment with a purple seal, they are swiftly
          confiscated by his grisly aunt and uncle. Then, on Harry's eleventh
          birthday, a great beetle-eyed giant of a man called Rubeus Hagrid
          bursts in with some astonishing news: Harry Potter is a wizard, and he
          has a place at Hogwarts School of Witchcraft and Wizardry. An
          incredible adventure is about to begin!
        </p>
      </div>
      <div class="streaming">
        <div class="appleBooks">
          <a
            class=""
            href="https://books.apple.com/us/book/harry-potter-and-the-sorcerers-stone-enhanced-edition/id1037193578"
            target="_blank"
            >Apple Books<br />
            <img
              src="../../assets/images/aboutImages/booksImages/appleBooks.png"
              alt="Apple Books"
              style="width:20px;height:20px"
            />
          </a>
        </div>
        <div class="audible">
          <a
            class=""
            href="https://www.audible.com/pd/Harry-Potter-and-the-Sorcerers-Stone-Book-1-Audiobook/B017V4IM1G?source_code=AUDORWS0718179KY7"
            target="_blank"
            >Audible<br />
            <img
              src="../../assets/images/aboutImages/booksImages/audible.png"
              alt="Audible"
              style="width:20px;height:20px;border-radius:50px;"
            />
          </a>
        </div>
        <div class="barnesNoble">
          <a
            class=""
            href="https://www.barnesandnoble.com/w/harry-potter-and-the-sorcerers-stone-j-k-rowling/1100036321?ean=9781781100486#/"
            target="_blank"
            >Barnes & Noble<br />
            <img
              src="../../assets/images/aboutImages/booksImages/barnesNoble.png"
              alt="Barnes & Noble"
              style="width:20px;height:20px;border-radius:50px;"
            />
          </a>
        </div>
        <div class="googlePlayBooks">
          <a
            class=""
            href="https://play.google.com/store/books/details?pcampaignid=books_read_action&id=wrOQLV6xB-wC"
            target="_blank"
            >Google Play<br />
            <img
              src="../../assets/images/aboutImages/moviesImages/googlePlay.png"
              alt="Google Play"
              style="width:20px;height:20px"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="movies">
    <div class="moviePic">
      <!-- image sourced from https://www.barnesandnoble.com/p/harry-potter-and-the-chamber-of-secrets-j-k-rowling/1004338523/2694170309759?st=PLA&sid=BNB_ADL+Marketplace+Good+New+Books+-+Desktop+Low&sourceId=PLAGoNA&dpid=tdtve346c&2sid=Google_c&gclid=Cj0KCQjwpavpBRDQARIsAPfTwizSLXXmFOiqZ7BGFibJjPhJCnVbsD1f_UwnmJV5bc_1HrPYf65dn74aAtZMEALw_wcB -->
      <img
        src="../../assets/images/aboutImages/booksImages/hp2Book.jpg"
        alt="Chamber of Secrets"
        style="width:103pt;height:157pt"
      />
    </div>
    <div class="availibilityContainer" id="bookTwo">
      <div class="availibility">
        <h1 class="moviesH1">Harry Potter and the Chamber of Secrests</h1>
        <p class="moviesP">
          Harry Potter's summer has included the worst birthday ever, doomy
          warnings from a house-elf called Dobby, and rescue from the Dursleys
          by his friend Ron Weasley in a magical flying car! Back at Hogwarts
          School of Witchcraft and Wizardry for his second year, Harry hears
          strange whispers echo through empty corridors - and then the attacks
          start. Students are found as though turned to stone... Dobby's
          sinister predictions seem to be coming true.
        </p>
      </div>
      <div class="streaming">
        <div class="appleBooks">
          <a
            class=""
            href="https://books.apple.com/us/book/harry-potter-and-the-chamber-of-secrets-enhanced-edition/id1037196655"
            target="_blank"
            >Apple Books<br />
            <img
              src="../../assets/images/aboutImages/booksImages/appleBooks.png"
              alt="Apple Books"
              style="width:20px;height:20px"
            />
          </a>
        </div>
        <div class="audible">
          <a
            class=""
            href="https://www.audible.com/pd/Harry-Potter-and-the-Chamber-of-Secrets-Book-2-Audiobook/B017V4IWVG?source_code=AUDORWS0718179KY7"
            target="_blank"
            >Audible<br />
            <img
              src="../../assets/images/aboutImages/booksImages/audible.png"
              alt="Audible"
              style="width:20px;height:20px;border-radius:50px;"
            />
          </a>
        </div>
        <div class="barnesNoble">
          <a
            class=""
            href="https://www.barnesandnoble.com/w/harry-potter-and-the-chamber-of-secrets-j-k-rowling/1004338523?ean=9781781100509#/"
            target="_blank"
            >Barnes & Noble<br />
            <img
              src="../../assets/images/aboutImages/booksImages/barnesNoble.png"
              alt="Barnes & Noble"
              style="width:20px;height:20px;border-radius:50px;"
            />
          </a>
        </div>
        <div class="googlePlayBooks">
          <a
            class=""
            href="https://play.google.com/store/books/details?pcampaignid=books_read_action&id=5iTebBW-w7QC"
            target="_blank"
            >Google Play<br />
            <img
              src="../../assets/images/aboutImages/moviesImages/googlePlay.png"
              alt="Google Play"
              style="width:20px;height:20px"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="movies">
    <div class="moviePic">
      <!-- image sourced from https://www.barnesandnoble.com/p/harry-potter-and-the-prisoner-of-azkaban-j-k-rowling/1100178339/2680730481966?st=PLA&sid=BNB_ADL+Marketplace+Good+New+Books+-+Desktop+Low&sourceId=PLAGoNA&dpid=tdtve346c&2sid=Google_c&gclid=Cj0KCQjwpavpBRDQARIsAPfTwizF0OkMyfQJ-89adFX54mnSa43CNP9gg2pljW3hdnN0sB7H732sRCQaAmJtEALw_wcB -->
      <img
        src="../../assets/images/aboutImages/booksImages/hp3Book.jpg"
        alt="Prisoner of Azkaban"
        style="width:103pt;height:157pt"
      />
    </div>
    <div class="availibilityContainer" id="bookThree">
      <div class="availibility">
        <h1 class="moviesH1">Harry Potter and the Prizoner of Azkaban</h1>
        <p class="moviesP">
          When the Knight Bus crashes through the darkness and screeches to a
          halt in front of him, it's the start of another far from ordinary year
          at Hogwarts for Harry Potter. Sirius Black, escaped mass-murderer and
          follower of Lord Voldemort, is on the run - and they say he is coming
          after Harry. In his first ever Divination class, Professor Trelawney
          sees an omen of death in Harry's tea leaves.... But perhaps most
          terrifying of all are the Dementors patrolling the school grounds,
          with their soul-sucking kiss....
        </p>
      </div>
      <div class="streaming">
        <div class="appleBooks">
          <a
            class=""
            href="https://books.apple.com/us/book/harry-potter-and-the-prisoner-of-azkaban-enhanced-edition/id1037196564"
            target="_blank"
            >Apple Books<br />
            <img
              src="../../assets/images/aboutImages/booksImages/appleBooks.png"
              alt="Apple Books"
              style="width:20px;height:20px"
            />
          </a>
        </div>
        <div class="audible">
          <a
            class=""
            href="https://www.audible.com/pd/Harry-Potter-and-the-Prisoner-of-Azkaban-Book-3-Audiobook/B017V4JA2Q?source_code=AUDORWS0718179KY7"
            target="_blank"
            >Audible<br />
            <img
              src="../../assets/images/aboutImages/booksImages/audible.png"
              alt="Audible"
              style="width:20px;height:20px;border-radius:50px;"
            />
          </a>
        </div>
        <div class="barnesNoble">
          <a
            class=""
            href="https://www.barnesandnoble.com/w/harry-potter-and-the-prisoner-of-azkaban-j-k-rowling/1100178339?ean=9781781100516#/"
            target="_blank"
            >Barnes & Noble<br />
            <img
              src="../../assets/images/aboutImages/booksImages/barnesNoble.png"
              alt="Barnes & Noble"
              style="width:20px;height:20px;border-radius:50px;"
            />
          </a>
        </div>
        <div class="googlePlayBooks">
          <a
            class=""
            href="https://play.google.com/store/books/details?pcampaignid=books_read_action&id=Sm5AKLXKxHgC"
            target="_blank"
            >Google Play<br />
            <img
              src="../../assets/images/aboutImages/moviesImages/googlePlay.png"
              alt="Google Play"
              style="width:20px;height:20px"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="movies">
    <div class="moviePic">
      <!-- image sourced from https://www.barnesandnoble.com/p/harry-potter-and-the-goblet-of-fire-j-k-rowling/1100042956/2694171935773?st=PLA&sid=BNB_ADL+Marketplace+Good+New+Books+-+Desktop+Low&sourceId=PLAGoNA&dpid=tdtve346c&2sid=Google_c&gclid=Cj0KCQjwpavpBRDQARIsAPfTwizQ44y6VpMb2eNZs1OdbFS4qfuxHRoxCKo6Lvh2kpqdia94YnSx1R0aAqnIEALw_wcB -->
      <img
        src="../../assets/images/aboutImages/booksImages/hp4Book.jpg"
        alt="Goblet of Fire"
        style="width:103pt;height:157pt"
      />
    </div>
    <div class="availibilityContainer" id="bookFour">
      <div class="availibility">
        <h1 class="moviesH1">Harry Potter and the Goblet of Fire</h1>
        <p class="moviesP">
          The Triwizard Tournament is to be held at Hogwarts. Only wizards who
          are over seventeen are allowed to enter - but that doesn't stop Harry
          dreaming that he will win the competition. Then at Hallowe'en, when
          the Goblet of Fire makes its selection, Harry is amazed to find his
          name is one of those that the magical cup picks out. He will face
          death-defying tasks, dragons, and dark wizards, but with the help of
          his best friends, Ron and Hermione, he might just make it through -
          alive!
        </p>
      </div>
      <div class="streaming">
        <div class="appleBooks">
          <a
            class=""
            href="https://books.apple.com/us/book/harry-potter-and-the-goblet-of-fire-enhanced-edition/id1037196765"
            target="_blank"
            >Apple Books<br />
            <img
              src="../../assets/images/aboutImages/booksImages/appleBooks.png"
              alt="Apple Books"
              style="width:20px;height:20px"
            />
          </a>
        </div>
        <div class="audible">
          <a
            class=""
            href="https://www.audible.com/pd/Harry-Potter-and-the-Goblet-of-Fire-Book-4-Audiobook/B017V4NUPO?source_code=AUDORWS0718179KY7"
            target="_blank"
            >Audible<br />
            <img
              src="../../assets/images/aboutImages/booksImages/audible.png"
              alt="Audible"
              style="width:20px;height:20px;border-radius:50px;"
            />
          </a>
        </div>
        <div class="barnesNoble">
          <a
            class=""
            href="https://www.barnesandnoble.com/w/harry-potter-and-the-goblet-of-fire-j-k-rowling/1100042956?ean=9781781100523#/"
            target="_blank"
            >Barnes & Noble<br />
            <img
              src="../../assets/images/aboutImages/booksImages/barnesNoble.png"
              alt="Barnes & Noble"
              style="width:20px;height:20px;border-radius:50px;"
            />
          </a>
        </div>
        <div class="googlePlayBooks">
          <a
            class=""
            href="https://play.google.com/store/books/details?pcampaignid=books_read_action&id=etukl7GfrxQC"
            target="_blank"
            >Google Play<br />
            <img
              src="../../assets/images/aboutImages/moviesImages/googlePlay.png"
              alt="Google Play"
              style="width:20px;height:20px"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="movies">
    <div class="moviePic">
      <!-- image sourced from https://www.barnesandnoble.com/p/harry-potter-and-the-order-of-the-phoenix-j-k-rowling/1100041270/2695444282464?st=PLA&sid=BNB_ADL+Marketplace+Good+New+Books+-+Desktop+Low&sourceId=PLAGoNA&dpid=tdtve346c&2sid=Google_c&gclid=Cj0KCQjwpavpBRDQARIsAPfTwiwEXH6-tR86ATNUXdZyele3s11k2JZQ4wz7MxNIKzRgO5JRgckv2mIaAsAIEALw_wcB -->
      <img
        src="../../assets/images/aboutImages/booksImages/hp5Books.jpg"
        alt="Order of the Phoenix"
        style="width:103pt;height:157pt"
      />
    </div>
    <div class="availibilityContainer" id="bookFive">
      <div class="availibility">
        <h1 class="moviesH1">Harry Potter and the Order of the Phoenix</h1>
        <p class="moviesP">
          Dark times have come to Hogwarts. After the Dementors' attack on his
          cousin Dudley, Harry Potter knows that Voldemort will stop at nothing
          to find him. There are many who deny the Dark Lord's return, but Harry
          is not alone: a secret order gathers at Grimmauld Place to fight
          against the dark forces. Harry must allow Professor Snape to teach him
          how to protect himself from Voldemort's savage assaults on his mind.
          But they are growing stronger by the day and Harry is running out of
          time....
        </p>
      </div>
      <div class="streaming">
        <div class="appleBooks">
          <a
            class=""
            href="https://books.apple.com/us/book/harry-potter-and-the-order-of-the-phoenix-enhanced-edition/id1037196825"
            target="_blank"
            >Apple Books<br />
            <img
              src="../../assets/images/aboutImages/booksImages/appleBooks.png"
              alt="Apple Books"
              style="width:20px;height:20px"
            />
          </a>
        </div>
        <div class="audible">
          <a
            class=""
            href="https://www.audible.com/pd/Harry-Potter-and-the-Order-of-the-Phoenix-Book-5-Audiobook/B017V4NMX4?source_code=AUDORWS0718179KY7"
            target="_blank"
            >Audible<br />
            <img
              src="../../assets/images/aboutImages/booksImages/audible.png"
              alt="Audible"
              style="width:20px;height:20px;border-radius:50px;"
            />
          </a>
        </div>
        <div class="barnesNoble">
          <a
            class=""
            href="https://www.barnesandnoble.com/w/harry-potter-and-the-order-of-the-phoenix-j-k-rowling/1100041270?ean=9781781100530#/"
            target="_blank"
            >Barnes & Noble<br />
            <img
              src="../../assets/images/aboutImages/booksImages/barnesNoble.png"
              alt="Barnes & Noble"
              style="width:20px;height:20px;border-radius:50px;"
            />
          </a>
        </div>
        <div class="googlePlayBooks">
          <a
            class=""
            href="https://play.google.com/store/books/details?pcampaignid=books_read_action&id=zpvysRGsBlwC"
            target="_blank"
            >Google Play<br />
            <img
              src="../../assets/images/aboutImages/moviesImages/googlePlay.png"
              alt="Google Play"
              style="width:20px;height:20px"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="movies">
    <div class="moviePic">
      <!-- image sourced from https://www.barnesandnoble.com/p/harry-potter-and-the-half-blood-prince-j-k-rowling/1100079342/2661845459439?st=PLA&sid=BNB_ADL+Marketplace+Good+Used+Books+-+Desktop+Low&sourceId=PLAGoNA&dpid=tdtve346c&2sid=Google_c&gclid=Cj0KCQjwpavpBRDQARIsAPfTwiwspLbFrKPmUONGv60hls3tRU_1jheIwEOtfToHgwmquJwerZjuH68aAgn5EALw_wcB -->
      <img
        src="../../assets/images/aboutImages/booksImages/hp6Book.jpg"
        alt="Half Blood Prince"
        style="width:103pt;height:157pt"
      />
    </div>
    <div class="availibilityContainer" id="bookSix">
      <div class="availibility">
        <h1 class="moviesH1">Harry Potter and the Half Blood Prince</h1>
        <p class="moviesP">
          When Dumbledore arrives at Privet Drive one summer night to collect
          Harry Potter, his wand hand is blackened and shrivelled, but he does
          not reveal why. Secrets and suspicion are spreading through the
          wizarding world, and Hogwarts itself is not safe. Harry is convinced
          that Malfoy bears the Dark Mark: there is a Death Eater amongst them.
          Harry will need powerful magic and true friends as he explores
          Voldemort's darkest secrets, and Dumbledore prepares him to face his
          destiny....
        </p>
      </div>
      <div class="streaming">
        <div class="appleBooks">
          <a
            class=""
            href="https://books.apple.com/us/book/harry-potter-and-the-half-blood-prince-enhanced-edition/id1037196935"
            target="_blank"
            >Apple Books<br />
            <img
              src="../../assets/images/aboutImages/booksImages/appleBooks.png"
              alt="Apple Books"
              style="width:20px;height:20px"
            />
          </a>
        </div>
        <div class="audible">
          <a
            class=""
            href="https://www.audible.com/pd/Harry-Potter-and-the-Half-Blood-Prince-Book-6-Audiobook/B017V4NOZ0?source_code=AUDORWS0718179KY7"
            target="_blank"
            >Audible<br />
            <img
              src="../../assets/images/aboutImages/booksImages/audible.png"
              alt="Audible"
              style="width:20px;height:20px;border-radius:50px;"
            />
          </a>
        </div>
        <div class="barnesNoble">
          <a
            class=""
            href="https://www.barnesandnoble.com/w/harry-potter-and-the-half-blood-prince-j-k-rowling/1100079342?ean=9781781100547#/"
            target="_blank"
            >Barnes & Noble<br />
            <img
              src="../../assets/images/aboutImages/booksImages/barnesNoble.png"
              alt="Barnes & Noble"
              style="width:20px;height:20px;border-radius:50px;"
            />
          </a>
        </div>
        <div class="googlePlayBooks">
          <a
            class=""
            href="https://play.google.com/store/books/details?pcampaignid=books_read_action&id=R7YsowJI9-IC"
            target="_blank"
            >Google Play<br />
            <img
              src="../../assets/images/aboutImages/moviesImages/googlePlay.png"
              alt="Google Play"
              style="width:20px;height:20px"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="movies">
    <div class="moviePic">
      <!-- image sourced from https://www.barnesandnoble.com/w/harry-potter-and-the-deathly-hallows-j-k-rowling/1100178133?ean=9780545010221#/ -->
      <img
        src="../../assets/images/aboutImages/booksImages/hp7Book.jpg"
        alt="Deathly Hallows"
        style="width:103pt;height:157pt"
      />
    </div>
    <div class="availibilityContainer" id="bookSeven">
      <div class="availibility">
        <h1 class="moviesH1">Harry Potter and the Deathly Hallows</h1>
        <p class="moviesP">
          As he climbs into the sidecar of Hagrid's motorbike and takes to the
          skies, leaving Privet Drive for the last time, Harry Potter knows that
          Lord Voldemort and the Death Eaters are not far behind. The protective
          charm that has kept Harry safe until now is broken, but he cannot keep
          hiding. The Dark Lord is breathing fear into everything Harry loves
          and to stop him Harry will have to find and destroy the remaining
          Horcruxes. The final battle must begin - Harry must stand and face his
          enemy....
        </p>
      </div>
      <div class="streaming">
        <div class="appleBooks">
          <a
            class=""
            href="https://books.apple.com/us/book/harry-potter-and-the-deathly-hallows-enhanced-edition/id1037196603"
            target="_blank"
            >Apple Books<br />
            <img
              src="../../assets/images/aboutImages/booksImages/appleBooks.png"
              alt="Apple Books"
              style="width:20px;height:20px"
            />
          </a>
        </div>
        <div class="audible">
          <a
            class=""
            href="https://play.google.com/store/movies/details?id=RzCjI3Jy7E8"
            target="_blank"
            >Audible<br />
            <img
              src="../../assets/images/aboutImages/booksImages/audible.png"
              alt="Audible"
              style="width:20px;height:20px;border-radius:50px;"
            />
          </a>
        </div>
        <div class="barnesNoble">
          <a
            class=""
            href="https://www.audible.com/pd/Harry-Potter-and-the-Deathly-Hallows-Book-7-Audiobook/B017WJ5ZK6?source_code=AUDORWS0718179KY7"
            target="_blank"
            >Barnes & Noble<br />
            <img
              src="../../assets/images/aboutImages/booksImages/barnesNoble.png"
              alt="Barnes & Noble"
              style="width:20px;height:20px;border-radius:50px;"
            />
          </a>
        </div>
        <div class="googlePlayBooks">
          <a
            class=""
            href="https://play.google.com/store/books/details?pcampaignid=books_read_action&id=_oaAHiFOZmgC"
            target="_blank"
            >Google Play<br />
            <img
              src="../../assets/images/aboutImages/moviesImages/googlePlay.png"
              alt="Google Play"
              style="width:20px;height:20px"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</body>
<app-quotes></app-quotes>
<script src="../../custom.js"></script>
